body{
    background-color: rgb(189, 255, 255);
}

.row, .col{
    display: flex;
   
}

.center{
    align-items: center;
    justify-items: center;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
}

/* #content{
    margin-top: 2%;
} */

button#mapPin{
    border: solid red 1px;
    border-radius: 5%;
}

.w-100{
    width: 100%;
}

#map{
    background: rgb(115, 212, 231);
}

.weatherBox{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-direction: row-reverse;
    flex-wrap: wrap-reverse; */
    justify-content: center;
    align-items: center;
}

.card{
    padding: 1%;
    margin: 1%;
}

.permalert{
    display: none;
}

.not-found-alert{
    display: none;
}

.title{
    color: rgb(0, 132, 255);
}

/* *{
    border: solid 1px red;
} */